.header {
  background-color: #6510ba;
  width: 100vw;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 12px rgb(37 99 235 / 0.2);
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.title {
  color: white;
  display: block;
  
}