.container {
    display: flex;
    margin-right: 1rem;
    
}

.dragHandle {
  padding: 0.75rem;
  color: #9ca3af;
  user-select: none;
}

.dragHandle:hover {
  color: #4b5563;
}
.taskItem {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  background: #f3f4f6;
  padding: 0.75rem 1rem;
  border: 1.5px solid #e5e7eb;
  border-radius: 6px;
  transition: box-shadow 0.2s ease;
  cursor: pointer;
}

.taskItem:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.1);
}

.taskText {
  flex: 1;
  margin: 0 1rem;
  font-size: 1rem;
  color: #111827;
}

.circle,
.star {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6b7280;
  transition: color 0.3s ease;
}

.circle {
  margin-right: 0.5rem;
}

.deleteIcon {
  margin-right: 2rem;
  color: crimson;
  cursor: pointer;
  display: flex;
}